:root{
    --twcolor1:#076ABD;
    --twcolor2:#D9EBFF;
    --ptcolor1:#026701;
    --ptcolor2:#D5E6C2;
    --ptcolor3:#DE2A2A;
    --ptcolor4:#D67B7B;
}

h1{
    text-align: center;
}

h2{
    font-family: 'Yatra One', cursive;
}

.hero{
    text-align: center;
    background-color:var(--twcolor2);
}

img{
    border-radius: 50%;
    border: solid 3px;
}

.country{
    border: none;
}

.emoji{
    display: block;
    margin: auto;
}

.twflag{
    border-color: var(--twcolor1);
}

.ptflag{
    border-color: var(--ptcolor1);
}

.left{
    background-color: var(--ptcolor2);
}

.content-right{
    color: var(--ptcolor1);
}

.right{
    background-color: var(--ptcolor4);
}

.content-left{
    color: var(--ptcolor3);
}

.mainText{
    padding: 0px 50px;
    margin: 10px 80px;
}

.box{
    display: none;
}

.publication{
    text-decoration: none;
    border: none;
}

.hideAndShow {
    display: none;
}

.image{
    padding: 15px 30px;
    border-radius: 5px;
}

.mainButton{
    color: white;
    background-color: var(--twcolor1);
}

.contactMebutton{
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--twcolor1);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contactMe{
   background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.card {
    position: relative;
    display: inline-block;
    padding: 0;
}
.card .img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}
.card:hover .img-hover {
    display: inline;
}

