:root{
    --twcolor1:#076ABD;
    --twcolor2:#D9EBFF;
    --ptcolor1:#026701;
    --ptcolor2:#D5E6C2;
    --ptcolor3:#DE2A2A;
    --ptcolor4:#D67B7B;
    --ptcolor5:#FBE9E9;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.brand{
    font-family: 'Original Surfer', cursive;
    font-size: 25px;
}

h1{
    text-align: center;
}

h1, h2{
    font-family: 'Comfortaa', cursive;
}

.contactMeTitle{
    color: var(--twcolor2);
    text-align: center;
}

ul.contact{
    list-style-type: none;
    display: table;
    margin: 0 auto;
    color: var(--twcolor1);
}

.hero{
    text-align: center;
    background-color:var(--twcolor2);
}

.country{
    border: none;
}

.emoji{
    border-radius: 50%;
    border: solid 3px;
    display: block;
    margin: 0 auto;
}

.twflag{
    border-radius: 50%;
    border: solid 3px var(--twcolor1);
}

.ptflag{
    border-radius: 50%;
    border: solid 3px var(--ptcolor1);
}

.emoji-yaju{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
}

.left{
    background-color: var(--ptcolor2);
}

.content-right{
    color: var(--ptcolor1);
}

.right{
    background-color: var(--ptcolor4);
}

.content-left{
    color: var(--ptcolor3);
}

.remark-1{
    color: var(--ptcolor1);
}

.remark-2{
    color: var(--ptcolor5);
}

.mainText{
    padding: 0px 50px;
    margin: 10px 80px;
}

.box{
    display: none;
}

.publication{
    text-decoration: none;
    border: none;
}

.hideAndShow {
    display: none;
}

.image{
    padding: 15px 30px;
    border-radius: 5px;
}

.mainButton{
    color: white;
    background-color: var(--twcolor1);
}

.contactMebutton{
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--twcolor1);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contactMebutton:hover{
    color:var(--ptcolor2);
}

.mainButton:hover{
    color:var(--ptcolor2);
}

footer, .contactMe{
   background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

footer .social-links a{
    font-size: 40px;
    color: var(--twcolor1);
    background-color: var(--twcolor2);
    text-decoration: none;
    border-radius: 50%;
    margin: 20px 40px;
    padding: 10px 22px;
    transition: all 150ms ease-in-out;
}

footer .social-links a:hover{
    color: var(--twcolor2);
    background-color: var(--twcolor1);
}

.card {
    position: relative;
    display: table-cell;
    background: none;
    border: none;
    vertical-align: middle;
    text-align: center;
}
.card .img-hover {
    display: none;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    transition: all 150ms ease-in-out;
}

.card:hover .img-hover {
    display: inline;
}

.card:hover .img-still {
    display: none;
}

.food{
    display: block;
    margin: auto;
    text-align: center;
    border: none;
    box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.4);
}

.foodie{
    text-align: center;
    color: var(--twcolor1);
    margin: 3px 0px;
}

@media (max-width: 576px){
    .image{
      display: none;
    }
    .appContent{
      text-align: center;
      width: 100%;
    }
  }
